<div class="panel panel-default">
  <div class="panel-heading"><h2>Sign Up</h2></div>
<div class="panel-body">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


 <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true,class: 'form-control', :autofocus => true %>
  </div>
  
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true,class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off",class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up",class: 'btn btn-primary' %>
  </div>
<% end %>
</div>

<div class="panel-footer"><%= render "devise/shared/links" %></div>
</div>

