<%= form_for @pin, html: { multiport: true } do |f| %>

  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description,class: 'form-control' %>
  </div>
    
  <div class="form-group">
    <%= f.label :image%>
    <%= f.file_field :image,class: 'form-control' %>
  </div>
  
  
  <div class="actions">
    <%= f.submit 'Submit',class: 'btn btn-primary' %>
  </div>
<% end %>
