<p id="notice"><%= notice %></p>
<div class="row">
   <div class="col-md-offset-2 col-md-8">
    
     <div class="panel panel-default">
       <div class="panel-heading center"><%= image_tag @pin.image.url(:medium) %><div>
       <div class="panel-body">
          
         <%= @pin.description %><br/>
        
         <%= @pin.user.name %><br/> 
        
         <% if @pin.user == current_user %>
          <%= link_to 'Edit', edit_pin_path(@pin) %> |
         <% end %>
         <%= link_to 'Back', pins_path %>
         <div>
     <div>
   <div>
 <div>


