<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'PinYourPhotos',root_path,class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
     
      <ul class="nav navbar-nav navbar-right">
        
        <li> <%= link_to 'Home', root_path %></li>
        <li> <%= link_to 'About Me', home_about_path %></li>
        
        <% if user_signed_in? %>
       <li><%= link_to 'Add Pin',new_pin_path %></li>
        <li><%= link_to 'List Pins',pins_path %></li>
          <li><%=link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <li><%=link_to 'Edit Your Profile', edit_user_registration_path %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li> 
          <li><%= link_to "Join", new_user_registration_path %></li> 
        <% end %>
       
       
      
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>