<div class="jumbotron center">

    <h1>Start Pinning !</h1>
    <p>Enjoy Pinning.....</p>
    
    <% if user_signed_in? %>
         <%=link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
         <%=link_to 'Edit Your Profile', edit_user_registration_path,class: 'btn btn-default' %>
        <%= link_to 'List Pins',pins_path,class: 'btn btn-default' %>

    <% else %>
        <%= link_to "Login", new_user_session_path, class: 'btn btn-default' %>
        <%= link_to "Join", new_user_registration_path,class: 'btn btn-primary' %>
    
    <% end %>
</div>