<div class="featurette" >
           
            <h2 class="featurette-heading">About Me !</h2>
            <h3 class="featurette" id="about">Drashti Limbachiya</h3>
            <p class="lead">I recently achieved MS degree in Computer Science. I live in California,CA.
                            Developing is more of a passion than just creating. My specialization is developing Web and Android Applications.
                            This application is created as a part of my interest in Web Dvelopment. Its my first Ruby On Rails application.</p>
       
       
         <a href="https://www.linkedin.com/in/drashti-limbachiya-7215ab10b" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a>
</div>
 